/* 
::after and ::before pseudo-classes are not covered by the default `*` selector, 
we need to specify them explicitly with `*::before` and `x::after` 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*
    box-sizing in not inherited by default.
    We make it inheritable, so that we can set it to border-bos for the html emelent
    and all other elements inherit it from html
  */
  box-sizing: inherit;
}

html {
  /* 
  62.5% of the default browser font size is 10px. 
  10px makes it easy to calculate other pixes sizes in rem. 
  We set the font-size here to 62.5% rather than 10px, 
  because we want users to have the option to change their font size setting in the browser 
  */
  font-size: 62.5%; // 1rem = 16px, 10/16 = 62.5%

  @include respond(big-desktop) { // width > 1800?
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; // 1rem = 9px, 8/16 = 50%
  }

  @include respond(phone) { // width < 600?
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
